---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
.author__avatar img {
  max-width: 200px;
}

.author__avatar img {
  max-width: 200px;
  opacity: 1 !important;
}

.author__avatar img:hover {
  opacity: 1 !important;
}

.author__urls-wrapper {
  margin-top: 1.2em;
}

