---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar {
  opacity: 1 !important;
  pointer-events: none; /* removes link hover effect */
}

.author__avatar img {
  opacity: 1 !important;
}

.author__urls-wrapper {
  margin-top: 1.2em;
}

